<!DOCTYPE html>
 <html>
 <head>
   <title> User Information </title>
 </head>
 <body>
   <form method = "post" action = "/homepage">
     First Name: <br>
     <input type = "text" id= "first-name" name = "name"> </br>
     Last Name: <br>
     <input type = "text" id= "last-name" name = "description"> </br>
     Email Address: <br>
     <input type = "text" id= "event-type" name = "type" required> </br>
     Address: <br>
     <input type = "text" id= "event-date" name = "date"> </br>

     <button type="submit" value="Go!"></button>
 </body>
</html>
